* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
}

p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    color: rgb(80, 80, 80);
}

/* Header */

.header {
    margin: 15px 90px 15px 90px;
}


/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: #f2cd5d;
}

.navbar img {
    width: 58px;
    height: auto;
}

.link {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.navbar_mobile a {
    text-decoration: none;
    color: black;
}

.navbar_mobile a:hover {
    color: #f2cd5d;
}

.logo {
    text-align: center;
    margin: 15px 0;
}

.header_section h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 90px;
    letter-spacing: 5px;
    margin-top: 60px;
}

.header_section {
    display: flex;
    gap: 25px;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 50%;
}

.left p {
    padding: 0 0 14px 0;
    margin-top: -30px;
    font-size: 15px;
    line-height: 26px;
    color: rgb(82, 80, 80);
}

.back {
    position: relative;
}

.button_header a {
    background-color: #f2cd5d;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 6px 19px;
    font-weight: bold;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    width: 50%;
}

@media screen and (min-width: 1000px) {
    .navbar_mobile {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .navbar {
        display: none;
    }

    .left {
        width: 100%;
        text-align: center;
        gap: 0;
    }

    .left h1 {
        font-size: 38px;
        margin-bottom: 55px;
    }

    .left p {
        margin-bottom: 35px;
    }

    .right {
        display: none;
    }
}


/* Section Sélection */

.selection {
    display: flex;
    justify-content: space-around;
    margin: 15px 90px 15px 90px;
    gap: 25px;
    text-align: center;
    margin: 65px 0 30px 0;
}

.selection p {
    margin-top: -20px;
}

.selection h2 {
    font-size: 17px;
    font-weight: bold;
}

.selection img {
    height: 200px;
    width: auto;
}

.un {
    display: flex;
    flex-direction: column;
}

.deux {
    display: flex;
    flex-direction: column;
}

.trois {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .selection {
        display: flex;
        flex-direction: column;
    }

    .selection img {
        width: 300px;
        height: auto;
        margin: 0 auto;
    }
}


/* Section Best Meal */

.bestmeal {
    display: flex;
    align-items: center;
}

.first img {
    width: 500px;
    height: auto;
}

.last {
    margin: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.last h2 {
    font-size: 72px;
    letter-spacing: 5px;
    margin-bottom: 50px;
}

.last p {
    line-height: 24px;
    margin-bottom: 30px;
}

.last a {
    color: black;
}

@media screen and (max-width: 1200px) {
    .bestmeal {
        text-align: center;
    }

    .bestmeal img {
        display: none;
    }

    .last {
        margin: 20px;
    }
}


/* Section Menu */

.menu {
    margin-bottom: 150px;
}

.titre h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
    font-family: 'open sans';
}

.titre p {
    text-align: center;
    margin-bottom: 55px;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
}

.one {
    width: 420px;
    height: 220px;
    box-shadow: 0 0 3em gray;
}

.two {
    width: 420px;
    height: 220px;
    box-shadow: 0 0 3em gray;
}

.three {
    width: 420px;
    height: 220px;
    box-shadow: 0 0 3em gray;
}


/* Section Store */

.store h2 {
    font-family: 'open sans';
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
}

.store p {
    text-align: center;
    padding-bottom: 55px;
}